VITE_API_URL=http://localhost:3000/api
VITE_APP_NAME=Reely
VITE_LOCKOUT_MINUTES=15
VITE_TMDB_API_KEY=tu_api_key_de_tmdb
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_URL=https://image.tmdb.org/t/p/w500
VITE_OMDB_API_KEY=tu_api_key_de_omdb
VITE_OMDB_BASE_URL=https://www.omdbapi.com
